.TicTacToe__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .TicTacToe__loader {
    width: 300.8px;
    height: 300.8px;
  }
  
  table td {
    border: 1px solid grey;
    width: 100px;
    height: 100px;
  }
  
  .TicTacToe__container .cell {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
  }
  
  .TicTacToe__container .cell-X {
    background-color: #e93737d7;
    color: #ffffff;
  }
  
  .TicTacToe__container .cell-O {
    background-color: #2deb2dc0;
    color: #ffffff;
  }
  
  .TicTacToe__container .winner {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    display: none;
  }
  
  .TicTacToe__container .winner.show {
    display: block;
  }
  
  .TicTacToe__container .reset-button {
    margin-top: 20px;
  }

  .TicTacToe__container .question-display {
    font-size: 16px;
  }

  .Modal__question-display {
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
  }

  .Modal__question-display input {
    width: 100px;
    height: 80px;
    font-size: 48px;
    text-align: center;
  }

  .Modal__learningbtns {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .Modal__ansbtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }