{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WildGuess</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Parkinsans&family=Spicy+Rice&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/intro.css' %}">
  <script type="text/javascript" src="{% static 'js/intro.js' %}">
  </script>
</head>
<body>

<div class="container">
  <h1 class="title">MindGrind</h1>
  <p>Welcome to MindGrind. A fun educational trivia where you can learn about Geography and Science.</p>  
  <p><strong>Here's how it works:</strong></p>  
  <ul>
    <li>When you click on Start Button, You'll see and hear a question. The first player to press the button gets the opportunity to answer.</li>  
    <li>If they answer correctly, they earn a point. If they get it wrong, we move to the next question.</li>  
  </ul>  
  {% comment %} <p>The game continues with new questions, testing and improving speed, knowledge, and quick thinking!</p>   {% endcomment %}
  <p class="lastSentence">Please enter your Names in the boxes below and then click on Start Button</p>  
  <form action="" method="post">
    {% csrf_token %}
    <label class="playerLabel Player1label">Player1: </label>
    <input type="text" name="player1" class="playerName player1name" id="player1name" required>
    <label class="playerLabel Player2label">Player2: </label>
    <input type="text" name="player2" class="playerName player2name" id="player2name" required>
    <br>
    <button id="startBtn" class="startBtn" type="submit" name="Start">Start Game</button>
  </form>

</div>

</body>
</html>