{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WildGuess</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Parkinsans&family=Spicy+Rice&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script type="text/javascript" src="{% static 'javaScript/ant.js' %}">
  </script>
</head>


<body>
  <a href="{% url 'start' %}"><img class="backBtn" src="{% static 'images/backbutton.png' %}" alt=""></a>
<div class="container">

  <div class="traitBox" id="traitBox">
    <h1>Traits</h1>
    <!--TraitBoxInput's added by javascript-->
  </div>

  <!-- This is where we put the animal's image -->
  <div class="animalImage">
    <h1 class="playerTitle playerOneTitle">Welcome, {{ player1 }}.</h1>
    <img class="backgroundAnimal" src="{% static 'images/crocodile.png' %}" alt="">
    <img class="backgroundAnimal" src="{% static 'images/lion.png' %}" alt="">
    <img class="backgroundAnimal" src="{% static 'images/ant.png' %}" alt="">
    <img class="backgroundAnimal" src="{% static 'images/tiger.png' %}" alt="">
    <img class="backgroundAnimal" src="{% static 'images/rhino.png' %}" alt="">
    <img id="penguinImg" class="img penguinImg" src="{% static 'images/ant.png' %}" alt="ant">
    <p id="hoverText" class="hoverText">Ants have several key traits that aid their survival. They possess a hard exoskeleton for protection and can thrive in extreme conditions. Each colony typically has a queen that lays eggs, while some species form vast supercolonies. Ants are skilled builders of complex nests and have specialized workers, each fulfilling specific roles to enhance the colony's efficiency.</p>
    <img id="questionImg" class="img questionImg" src="{% static 'images/question.png' %}" alt="question">
    <br>
    <p id="scoreMessage" class="scoreMessage"></p>
    <button id="submitBtn" class="btn submitBtn" type="submit">Submit</button>
  </div>

  <!-- This is where we put Specifications -->
  <div class="specsBox">
    <h1>Specifications</h1>
    <p class="specsBoxText">I live in large colonies, where each member has a specific role to play.</p>
    <br>
    <p class="specsBoxText">I can adapt to different climates, from rainforests to deserts</p>
    <br>
    <p class="specsBoxText">I can carry objects many times my own weight</p>
  </div>
</div>

<script>
  onPageLoad();
</script>

</body>
</html>